body {
    background-color:black; 
    font-family:arial;
    color:white;
    }
h1{color: grey; font-family: Verdana;}
.maindiv {
    background-color:white;
    color:black;
    width: 500px;
    padding: 30px;
    border-radius:25px;
    margin: auto;
}    
.table-container {
    width: 70%;
    margin: auto;
}
.row {
    width: 100%;
    margin: 10px 0;
}
.col {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.col1 {
    width: 38%;
}
.col2 {
    width: 60%;
}
.col-fullwidth {
    width: 100%
}
.highlight {
    background-color: yellowgreen;
}